<html>
  <head>
    <title>
      Uncomfortable Question Generator
    </title>
  </head>
  <body>
    <header>
      <a href="./index">Uncomfortable Question Generator</a>
    </header>
    <p>
      <a href="./submit">Submit your own uncomfortable question</a>
    </p>
    <p>
      $question
    </p>
  </body>
</html>
