<html>
  <head>
    <title>
      Cookie maker!
    </title>
  </head>

  <body>
#if $good:
Your cookie was set, go ahead!

#end if

    <form action="./set_cookie" method="post">
      <input type = "text" name = "username" />
      <input type = "password" name = "password" />
      <input type = "submit" value = "Submit plx" />
    </form>

  </body>
</html>
