<html>
  <head>
    <title>
      Cookie maker!
    </title>
  </head>

  <body>
    <header>
      <a href="./index">Uncomfortable Question Generator</a>
    </header>
    #if $submitted:
    <p>
      Thanks, we'll process your submission asap, go ahead!
    </p>
    #end if

    <form action="./submit" method="post">
      <textarea COLS=40 ROWS=6 name = "awk_q" ></textarea>
      <input type = "submit" value = "Submit plx" />
    </form>

  </body>
</html>
